.html, body{
   width: 100% !important;
   height: 100% !important;   
   overflow-x: hidden;
   color: #2C1238;
   font-family: 'Poppins', sans-serif;
   display: -webkit-flex;   
   padding: 0px; 

}
.container-fluid{
   padding-left: 0px;
   padding-right: 0px; 
}
.displayflex{
   display: flex;
}
/* top nav start */
.topnavpadd{
   background-color:#FFF;
   box-shadow: 0 0 10px rgb(184, 181, 181);

}
.topborder{
   border-left: gray 1px solid;
}
/* top nav end */
/* side nav start */
.sidenavtd{
  text-Decoration: none;
}
.sidebarrowwi{
   width: 20rem;
}
.sidebar {
   background: #fff; 
   padding-right: 0px;
}
.sidebar ul  {
   width: 100%;
   text-decoration: none !important;  
}.sidebar  li {
  border-bottom: solid gray 1px;
  border-radius: 1px;
  width: 100%;
}
.sidebar  :hover :active {
   background: #B5876D !important;
   width: 100%;
   color: white !important;
} 
.sidebar .nav-link {
   color:#2C1238 !important;
   background: #F8F3F0 !important;
   height: 65px;
   display: flex;
   justify-content:left;
   align-items:center;
   text-decoration: none !important;

}

.sidebar .active a{
   background: #B5876D !important;
   color: white !important;
    text-decoration: none;
} 

.main-nav-active {
   background: #B5876D !important;
   color: white !important;
   text-decoration: none !important;
  
}

/* sidebar menu start */
.sidebarmenu .nav-link {
  height: 35px;
}

.sidebarmenu li{
   border: none ;
   /* border-left: white 1px solid; */
}

.sidebarmenu li a{
   padding-left: 3rem; 
   border-left: white 1px solid;
}
.sidebarmenu  :hover :active {
   color: black!important;
} 
.sidebarmenu .active a{
   height: 35px;
   color: black !important;
}

/* sidebar menu end */
/* side nav end */






/* dashboard card start */

/* dashboard card one start */
.cardoneshadow .card{
   border: none !important;
   background-color:#FFF;
   box-shadow: 0 0 10px rgb(184, 181, 181);
   border-radius: 15px;
}
.cardoneborder{
   border-left: solid 1px gray;
}
.buttonadd{
   border: none;
   border: dashed 1px  #FF7000;
   background-color: #fff;
   height: 150px;
   cursor: pointer;
   outline: none;
}

/* dashboard card one end */
/* dashboard card two start */
.cardtwoshadow .card{
   border: none !important;
}
.cardtwoshadow .card1{
   border: none !important;
   background-color:#FFF;
   box-shadow: 0 0 10px rgb(184, 181, 181);
   border-radius: 25px;
}
.headingcardtwo{
   background-color: #fff;
}
.headingcardtwo .nav-link {
   color: rgb(82, 81, 81);
}
.headingcardtwo .active{
    color: black !important;
    border-bottom: solid 1px black;
}
.cardtwoscroll {
   overflow: scroll;
   height: 780px;
   flex-direction: column;
   overflow-y: scroll; 
 }
 .cardtwoscroll::-webkit-scrollbar {
     display: none;
 }
  .cardtwoscroll {
   -ms-overflow-style: none;  
   scrollbar-width: none;  
 }
/* dashboard card two end */
/* dashboard card end */

/* Faq start */

.faqfixwh{
  width: 90vw;
  height: 100vh;
}

.accordion-button::after{
   background-image: none !important; 
}
.accordion-button:not(.collapsed){
   color: #2C1238 !important;
   background-color: #EDE5E0!important;
}
.accordion-button:focus{
  box-shadow: none !important;
}
.accordion-button{
   background-color: #EDE5E0;
}
.accordion-body{
   background-color: #F8F3F0;
}
/* Faq end */


/* Contact Us start */

/* Contact Us end */
/* footer start */
.footerback{
   background-color: #E9E9E9;
}
/* footer end */