body{background-color:#DBDEE0;  font-family: sans-serif, 'poppins' ;}

#curve_chart::-webkit-scrollbar {
    width: 0px;    background: transparent;
}
.bar-graph::-webkit-scrollbar {
    width: 0px;    background: transparent;
}
/* sign up */
.signin-container{    background-color: white;    margin: 20px 50px;    padding: 70px;    display: flex;
    border-radius: 30px;    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}    
.signin-img{display: block; margin: auto;}.signin-container img{ max-width: 80%;}
.signin-data h1 {text-align: center;}.signin-input{margin: auto; width: 70%;}
.signin-data a{color: #ff7000;display:flex; justify-content: right;}
.signin-data input{width: 100%; padding: 5px;}
.signin-btn{width: 100%; background-color: #ff7000; 
    border-radius: 10px; color: white;border:none;    padding: 7px;}

/* IP repalcing member-counts */
.container-ip {margin: 20px;}
.container-member-count{ margin: 10px;    display: flex;justify-content: center;}
.container-member-count div{   margin: 10px; display: flex;
  background-color: white;  position: relative;  padding-left: 15px;
  max-width: 25%; padding: 5px; border-radius: 10px; justify-content: space-evenly;}
.container-member-count img{max-width: 40%;}
.container-member-count p{font-size: 26px;font-family: serif;}
.container-member-count main{    margin-top: 20px;}
.gold{color: #ff7000;} .sliver{color: #c7a590;} 
.total-member{background-color:#FFF5EA !important;}
.dashboard-sections { display: flex; justify-content: space-between;flex-wrap: wrap;}
.line-graph, .activities, .bar-graph, .request-tbl, .pie-chart
{background-color: white;margin-top: 20px; border-radius: 10px; padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;}
.line-graph{ width:69%;} .activities{width: 29%;}
#month, #year {background-color: #ebebfb;padding: 5px; border: none; margin: 2px;}  
.step {padding: 10px;  display: flex;flex-direction: row; justify-content: flex-start; background-color: cream; }
.v-stepper {   position: relative;  } 
.step .circle {   background-color: gray;   border: 3px solid gray;  border-radius: 100%;
    width: 20px;    height: 20px;    display: inline-block;  }
.step .line { top: 20px; left: 9px;height: 100%;  position: absolute;  border-left: 3px solid gray; }
.content p{margin: 0;font-size: 14px;}
.content span {font-size:10px; color: gray;}
.step:last-child .line { border-left: 3px solid white;  z-index: -1;  }
.content { margin-left: 20px;   display: inline-block; }
.activities a {color: #ff7000;     float: right;;text-decoration: underline;}

.bar-graph{max-width: 1000%;} .request-tbl{max-width: 34%;} .pie-chart{max-width: 30%;}
#chart{  max-width: 10%;  margin: 0 ; } .pie-chart div{display: flex;}

/* .dashboard-sections table */
table {font-size: 12px; font-family: arial, sans-serif; border-collapse: collapse; width: 100%;  }
th{background-color:#b5876d ; color:white}
td, th { text-align: left;    padding: 10px;  }  
tr:nth-child(even) {    background-color: #ffffff;  }
tr:nth-child(odd) {    background-color:#fff1e6;  }
/* dashbord tbl end */
/* pie chart */
.pie-chart{text-align: center;}
.pie-chart span{cursor: pointer;}

/* Transation */
.transation-top{display: flex; justify-content: space-between;}
input[type="search"] {    border: none;    background: white;    margin: 0;    
    padding: 7px 8px;    font-size: 14px;    color: inherit;   }
input:focus{    outline: none;} 
input[type="search"]::placeholder {    color: #bbb;  }  
button[type="submit"] {    
    text-indent: -999px;    overflow: hidden;    width: 40px;  border:none;cursor: pointer;opacity: 0.7;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;} 
  
/* customer page  */
.transation-middle{margin: 15px 0;}
  











/* #################################### Responsive ######################################## */

@media only screen and (max-width: 800px) {
/* SignIn */
.signin-img{display: none;}

/* IP */
.line-graph, .activities{width: 100%;}
.container-member-count{ display: block; text-align: -webkit-center;}
.container-member-count div{ max-width: 50%;}

.dashboard-sections{display: block;}

.bar-graph, .request-tbl, .pie-chart{max-width: 100%;}
.pie-chart div{max-width: 50%; margin-inline: auto;}




}/* screen block close */














/* 765 and less */
@media only screen and (max-width: 765px) {
    /* IP member count */
/* #member-counts div{ max-width: 100%;} */
    
    
}/* screen block close */
    
    
    
    
    
    
    
    
    