body{background-color:#DBDEE0;  font-family: sans-serif, 'poppins' ;}

/* sign up */
.signin-container{    background-color: white;    margin: 20px 50px;    padding: 70px;    display: flex;
    border-radius: 30px;    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}    
.signin-img{display: block; margin: auto;}.signin-container img{ max-width: 80%;}
.signin-data h1 {text-align: center;}.signin-input{margin: auto; width: 70%;}
.signin-data a{color: #ff7000;display:flex; justify-content: right;}
.signin-data input{width: 100%; padding: 5px;}
.signin-btn{width: 100%; background-color: #ff7000; 
    border-radius: 10px; color: white;border:none;    padding: 7px;}

/* IP repalcing member-counts */
.container-ip {margin: 20px;}
.container-member-count{ margin: 10px;    display: flex;justify-content: center;}
.container-member-count div{   margin: 10px; display: flex;
  background-color: white;  position: relative;  padding-left: 15px;
  max-width: 25%; padding: 5px; border-radius: 10px; justify-content: space-evenly;}
.container-member-count img{max-width: 40%;}
.container-member-count p{font-size: 26px;font-family: serif;}
.container-member-count main{    margin-top: 20px;}
.gold{color: #ff7000;} .sliver{color: #c7a590;} 
.total-member{background-color:#FFF5EA !important;}


























    
    
    
    
    
    
    
    