
/* css to whole */

html,body
{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}



/* root css */

:root
{
  --main: #FF7000;
}



/* css to whole part */

*
{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
}



/* css to remove shadow from buttons */

.navbtn:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
} 
.silbtn:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}



/* navbar css */

.routebar
{
  background: transparent !important;
}
.routebar ul 
{
  text-decoration: none;
  list-style: none;
}
.routebar ul li a
{
  color: black;
  text-decoration: none;
}
.routebar ul li a:hover
{
  color: var(--main);
}
.routebar ul li a:active
{
  color: var(--main) !important;
}
.routebar .navbar-toggler:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}



/* two main hovered btn */


/* btn with bgcolor orange */

.navbtn
{
  background-color: var(--main);
  color: #fff;
}
.navbtn:hover
{
  border-color: var(--main);
  color: var(--main) !important;
  background-color: #fff;
}


/* btn with bgcolor white */

.silbtn
{
  border-color: var(--main);
  color: var(--main);
  text-align: center;
}
.silbtn:hover
{
  background-color: var(--main);
  color: white;
}





/* pricing section */

/* .pricing
{
  background-image: url(./Images/img.png);
  background-repeat: no-repeat;
  height: 120vh;
  width: 100%;
} */

/* yearly part in pricing */

.yearly .card
{
  border: none;
  border: 1px solid antiquewhite;
  text-align: left;
  box-shadow: 0 0 10px rgb(128,128,128);
}
.yearly .card-header
{
  background-color: white;
}
.popularbtn
{
  font-size: x-small;
  margin-left: 70%;
  margin-top: -22%;
  background-color: #B5876D;
  color: white;
}
.yearly i
{
  color: #B5876D;
}
.yearly span
{
  font-size: 15px;
  font-weight: 500;
}
.yearly .list-group li
{
  border: none;
  line-height: 30px;
  word-spacing: 1px;
}
.yearly ul li button
{
  margin-left: 17%;

}

/* monthly part in pricing */

.monthly .card
{
  border: none;
  border: 1px solid antiquewhite;
  box-shadow: 0 0 10px rgb(128,128,128);
}
.monthly .card-header
{
  background-color: white;
}
.monthly span
{
  font-size: 15px;
  font-weight: 500;
}
.monthly .list-group li
{
  border: none;
  line-height: 30px;
}
.monthly ul li button
{
  margin-left: 17%;
}

/* customer says part */

/* icons in customer part */

.picons
{
  color: var(--main);
  font-size: 2.5rem !important;
}

/* faq in pricing */

.faq
{
  background-image: url('../images/bgimg.png');
  background-repeat: no-repeat;
  width: 90%;
}
.faq .accordion-button::after
{
  color: black !important; 
}
.faq .accordion-button:not(.collapsed)
{
  color: black !important;
  background-color: #F8F3F0!important;
}
.faq .accordion-button .collapsed
{
  color: black !important;
  background-color: #F8F3F0!important;
}
.faq .accordion-button:focus
{
  box-shadow: none !important;
}
.faq .accordion-button
{
  background-color: #F8F3F0;
} 
.faq .accordion-body
{
  background-color: #F8F3F0;
  width: 100%;
}



/* media query for pricing section */

@media screen and (min-width:1200)
{
  .yearly .card
  {
    background-color: aqua !important;
    width: 80% !important;
    margin: 0% !important;
    padding: 0% !important;
  }
  .yearly ul li button
  {
    background-color: aquamarine !important;
    padding: 0% !important;
  }
  .faq
  {
    text-align: center;
    margin-left: 0%;
  }
}





/* css for contact section */

.contact
{
  background-image: url('../images/img.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.contact .card
{
  width: 80%;
  margin-left: 10%;
  padding-top: 3%;
}
.contact .card h6
{
  color: #B5876D;
}
.contact form input
{
  width: 90%;
  height: 25px;
}
.contact form input:focus,
.contact form textarea:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.map
{
  /* background-color: #fdeee3; */
  background-image: url('../images/mapbg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 500px;
}



/* media query for contact section */

@media screen and (max-width:1200px)
{
  .contact .info
  {
     width: 90%;
    padding-left: 10%;
  }
  .contact form
  {
    width: 90% !important;
    padding: 3%;
    margin-top: 5%;
  }
  .contact form input
  {
    width: 90% !important;
    padding: 3%;
    margin-top: 5%;
  }
  .contact form textarea
  {
    width: 90% !important;
    padding: 3%;
    margin-top: 5%;
  }
  .map
  {
    width: 100%;
  }
}





/* login section */

.login h5
{
  display: inline;
  padding-left: 10%;
}
.login form
{
  width: 65%;
}
.logimg
{
  margin-left: 8%;
}
.login input:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.loginsigninbtn
{
  width: 60%;
}



/* media query for login section */

@media screen and (max-width:1200px)
{
  .login
  {
    text-align: center;
  }
  .logimg
  {
    margin-left: 0;
    height: 300px;
    width: 90%;
  }
  .menuscanimg
  {
    margin-left: 0;
  }
  .login form
  {
    width: 90%;
  }
}





/* footer part */

.footer
{
  background-color: #282828;
}
.footer a
{
  color: white;
}

/* css for size of icons in footer */

.footer i
{
  font-size: 22px;
}
.foottext
{
  text-align: center;
}

/* css for icons in footer */

.footicon
{
  color: var(--main); 
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  text-align: center;
}
.footend
{
  display: flex;
  justify-content: space-around;
}



/* media query for footer section */

@media screen and (max-width:1200px)
{
  .footermenu
  {
    padding-left: 12%;
    line-height: 180%;
  }
  .foottext
  {
    margin-left: 0;
    padding-left: 12%;
    text-align: left;
  }    
  .footericon
  {
    display: flex;
  }
  .footend
  {
    display: flex;
    justify-content: space-evenly;
  }
  
}





/* register section css */

/* main card css */

.registercard
{
  border-radius: 5%;
  box-shadow: 0 0 10px rgb(128, 118, 118);
  width: 80%;
  margin-left: 10%;   
}

/* card on left side in register section */

.registerleft
{
  border-radius: 5%;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow:0 0 4px var(--main);
  background-image: url('../images/registerbg.png');
  background-repeat: no-repeat;
}

/* logo in card section */

.registerlogo
{
  margin-left: 40%;
  padding-top: 10%;
}

/* person with qr code img */

.registerscan
{
  margin-left: 30%;
  margin-top: 40%;
}

/* form section in main card on right side */

.registerform input
{
  width: 70%;
}
.registerform input:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.registerform button
{
  width: 55%;
}



/* media query for register section */

@media screen and (max-width:280px)
{
  .registerform button
  {
    width: 35%;
  }    
}

@media screen and (max-width:1200px)
{
  .registerleft
  {
    width: 80%;
    margin: 8%;
  }
  .registerlogo
  {
    margin-left: auto;
    margin-right: auto;
    display: block;    
  }
  .registerform
  {
    margin-top: 10%;
  }   
}





/* register now section css */

.connectpart h5
{
  font-weight: 600;
}
.connectpart .card
{
  border: none;
}
.connectpart .card h6
{
  color: var(--main);
}
.connectpart .card span
{
  color: var(--main);
  font-size: 25px;
}
.headoffice
{
  display: flex;
}



/* media query for registernow section */

@media screen and (max-width: 1200px)
{
  .connectpart
  {
    margin-top: 20% !important;
    width: 80%;
    text-align: center !important;
  }
  .connectpart .card span
  {
    margin-left: 0% !important;
  }
  .connectlocation
  {
    margin-top: 0% !important;
    padding-top: 0% !important;
  }
}




