
/* css to whole */

html,body
{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* root css */

:root
{
  --main: #FF7000;
}

/* css to whole part */

*
{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
}

/* two main hovered btn */

/* btn with bgcolor orange */

.navbtn
{
  background-color: var(--main);
  color: #fff;
}
.navbtn:hover
{
  border-color: var(--main);
  color: var(--main) !important;
  background-color: #fff;
}

/* btn with bgcolor white */

.silbtn
{
  border-color: var(--main);
  color: var(--main);
  text-align: center;
}
.silbtn:hover
{
  background-color: var(--main);
  color: white;
}

/* css to remove shadow from buttons */

.navbtn:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
} 
.silbtn:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}



/* navbar css */

.routebar
{
  background: transparent !important;
}
.routebar ul 
{
  text-decoration: none;
  list-style: none;
}
.routebar ul li a
{
  color: black;
  text-decoration: none;
}
.routebar ul li a  .active
{
  color: var(--main);
}
.routebar ul li a:hover 
{
  color: var(--main);
}
.routebar ul li a:active
{
  color: var(--main) !important;
}
.routebar .main-nav-active
{
  color:  var(--main);
}
.routebar .navbar-toggler:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}



/* home section */

/* banner part in home */

.banner h1
{
  font-size: 3.2rem;
  font-weight: 400;
}
.banner h3
{
  font-weight: 400;
}
.banner .contactless
{
  font-size: 3.5rem;
  font-weight: 400;
  letter-spacing: 3px;
}
.banner .number
{
  color: #B5876D;
}
.homebannerdownarrow
{
  margin-top: 100% ;
  padding-top: 100% ;
}
.homebtnarrow
{
  color: var(--main);
}
.cust
{
  border-right: 2px solid #B5876D;
}
#dropdownMenuButton1:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; 
}
#dropdownMenuButton1 ul
{
  border: none;
}

.banner input
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; 
}


@media screen and (max-width:1200px)
{
  .banner
  {
    text-align: center;
  }  
  .banner .bannerleft
  {
    margin-left: 0% !important;
    padding-left: 0% !important;
  }
  .banner .homebannerdownarrow
  {
    height: 80%;
    width: 40%;
    margin-top: 0%;
    padding-top: 0%;
  }
  .banner .bannerright
  {
    padding-top: 0% !important;
  }
}


/* scan menu part */

.scanmenu .qrmenu
{
  margin-top: 18%;
}
.scanmenu .scanqr
{
  margin-top: 10%;
}
.scanmenu .openmenu
{
  margin-top: 5%;
}


@media screen and (max-width:1200px)
{
  .scanmenu .qrmenu
  {
    height: 50%;
    width: 60%;
    margin-left: 15% !important;
  }
  .scanmenu .scanqr
  {
    height: 70%;
    width: 90% !important;
    margin-top: 0% !important;
  }
  .scanmenu .openmenu
  {
    width: 90% !important;
  }
  .scanmenu .placeorder
  {
    width: 90%;
  }
}


/* procedure part */

.procedure h6
{
  color: var(--main);
}
.scancard
{
  margin-left: 40%;
  bottom: -7%;
  height: 25%; 
  width: 40%;
  border-radius: 5%;
}
.menucard
{
  margin-left: 10%;
  z-index: -1;
  height: 55%; 
  width: 50%;
}
.waitcard
{
  margin-left: 45%;
  top: -10%; 
  height: 20%;
  width: 35%;
  border-radius: 10%;
}
.menubtn
{
  width: 20%;
  margin-left: 60%;
}
.menucard ul
{
  width: 70%;
  margin-left: 15%;
}
.menucard ul li
{
  background-color: #B5876D;
  font-size: 12px;
}
.bellicon
{
  color: #B5876D;
  font-size: 80px;
}
.optioncard
{
  margin-left: 10%;
  height: 25%; 
  width: 95%;
  border-radius: 5%;
  bottom: -4%;
  display: flex;
  justify-content: space-between;
}
.potatoimg
{
  margin-top: -180%;
  margin-left: 120%;
}
.paycard
{
  margin-left: 25%;
  z-index: -1;
  height: 55%; 
  width: 62%;
}
.ordercard
{
  margin-left: 8%;
  height: 20%; 
  width: 35%;
  border-radius: 10%;
  top: -5%;
}
.chefspecial
{
  font-weight: 600;
}
.addbtn
{
  background-color: white;
  margin-top: -170%;
  margin-left: 130%;
  height: 20px;
  padding: 0% 10px 0% 10px;
}
.paymethod
{
  width: 80%;
}


@media screen and (max-width:1200px)
{
  .procedure
  {
    margin-bottom: 0% !important;
    margin-top: 0% !important;
  }
  .procedure .addbtn
  {
    margin-top: -180%;
    margin-left: 130% !important;
  }
  .procedure .potatoimg
  {
    height: 90%;
    width: 80%;
  }
  .procedure .colthree
  {
    width: 90%;
  }
  .procedure .videoprocess
  {
    width: 70% !important;
    height: 85%;
  }
  .procedure .optioncard
  {
    width: 80% !important;
    height: 25% !important;
  }
  .procedure .paycard
  {
    width: 70% !important;
    height: 50% !important;
  }
  .procedure .waitcard
  {
    width: 40% !important;
    height: 20% !important;
  }
  .procedure .menucard
  {
    width: 60% !important;
    height: 58% !important;
  }
  .procedure .scancard
  {
    width: 40% !important;
    height: 25% !important;
  }
  .procedure .ordercard
  {
    width: 40% !important;
    height: 20% !important;
    margin-top: 5%;
  }
  .procedure .optioncard p
  {
    width: 75%;
  }
  .try .cardform input
  {
    width: 80%;
  }
}



@media screen and (max-width:280) 
{
  .procedure .waitcard
  {
    width: 40% !important;
    height: 20% !important;
  }
  .procedure .menucard
  {
    width: 60% !important;
    height: 58% !important;
  }
  .procedure .scancard
  {
    width: 40% !important;
    height: 25% !important;
  }
  .procedure .ordercard
  {
    width: 40% !important;
    height: 20% !important;
    margin-top: 5%;
  }
  .procedure .optioncard
  {
    width: 80% !important;
    height: 90% !important;
  }
  .procedure .paycard
  {
    width: 70% !important;
    height: 50% !important;
  }
}


/* Our offerings */

.offerings h2
{
  font-weight: 600;
  letter-spacing: 2px;
}
.offerings h6
{
  font-weight: 600 !important;
  line-height: 150%;
  letter-spacing: 1px;
}


@media screen and (max-width:280) 
{
  .offerings
  {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center !important;
  }
  .offerings h2
  {
    /* text-align: center; */
    padding-top: 0% !important;
    margin-left: 0% !important;
  }
  .offerings row
  {
    margin-left: 0% !important;
  }
  .offerings .offeringsleft
  {
    padding-left: 0% !important;
  }
  .offerings .offeringsleft h6
  {
    margin-top: 0% !important;
    padding-top: 0% !important;
  }
  .offerings .offerarrow
  {
    padding-left: 0%;
  }
}


/* why choose us part */

.wcu h2
{
  font-weight: 600;
  letter-spacing: 1px;
}
.wcu span
{
  font-weight: 350;
}
.wculist ul
{
  list-style: none;
}
.wculist ul li
{
  line-height: 300%;
  font-size: 18px;
}
.wcu h3
{
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1px;
}

@media screen
{ 
  .ladyimg
  {
    margin-top: 100%;
  }
}


@media screen and (max-width:1200) 
{
  .wcu
  {
    text-align: center;
    margin-top: 0% !important;
    margin-bottom: 0% !important;
  }
  .wcu h2
  {
    padding-top: 0% !important;
  }
  .wcu .wculist
  {
    text-align: left;
    margin-left: 0% !important;
    padding-top: 0% !important;
  }
  .wcu ul
  {
    width: 85%;
  }
  .wcu .ladyimg
  {
    margin-top: 0% !important;
  }
  .wcu .wcupricing
  {
    margin-bottom: 0% !important;
  }
}


/* key features part */

.keyfeatures h2
{
  font-weight: 600;
  letter-spacing: 1px;
}
.keyfeatures h5
{
  font-weight: 600;
}
.keyfeatures .contactless
{
  text-align: justify;
}


@media screen and (max-width:1200px)
{
  .keyfeatures
  {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
  }
  .keyfeatures h2
  {
    text-align: center;
  }
  .keyfeatures .resmenu
  {
    width: 90%;
  }
  .keyfeatures .contactless
  {
    margin-left: 0% !important;
    width: 90%;
    text-align: justify;
  }
}


/* try our services part */

.try h2
{
  letter-spacing: 1px;
  word-spacing: 2px;
  padding-top: 15%;
}
.try h2 span
{
  font-weight: 600;
}
.try .card
{
  width: 70%;
}
.one
{
  height: 10rem;
  width: 66% !important;
  margin-bottom: -55%;
  /* background-color: red; */
}
.two
{
  height: 12rem;
  margin-top: 30%;
  width: 63% !important;
  /* background-color: #FF7000; */
}
.three
{
  width: 60% !important;
  height: fit-content;
  margin-top: -30%;
}
.tryarrow
{
  margin-left: 70%;
  margin-top: -25%;
}
.try .cardform
{
  box-shadow: 0 0 2px rgb(128,128,128);
}
.try .cardform h3
{
  font-weight: 600;
}
.try input:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}



@media screen  and (max-width:1200px)
{
  .try h2
  {
    margin-bottom: 20% !important;
  }
  .try .one
  {
    width: 80%;
    margin-bottom: -70%;
  }  
  .try .two
  {
    width: 75%;
    margin-top: 30%;
  }
  .try .three
  {
    width: 70%;
    margin-top: -55%;
    height: 100% !important;
  } 
  .try .three img
  {
    margin-left: auto;
    margin-right: auto;
  }
  .try .three p
  {
    text-align: justify;
  }
  .try .tryarrow
  {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media only screen and (width:540px)
{
  .try .one
  {
    width: 80%;
    margin-bottom: -62%;
  }  
  .try .two
  {
    width: 75%;
    margin-top: 30%;
  }
  .try .three
  {
    width: 70%;
    margin-top: -40%;
    height: 100% !important;
  } 
}


@media only screen and (width:280px)
{
  .try h2
  {
    padding-bottom: 30%;
  }
  .try .one
  {
    width: 80%;
    margin-bottom: -160%;
    height: 18rem;
  }  
  .try .two
  {
    width: 75%;
    margin-top: 60%;
    height: 20rem;
  }
  .try .three
  {
    width: 70%;
    margin-top: -115%;
    height: 100% !important;
  } 
}




/* pricing section */

/* .pricing
{
  background-image: url(./Images/img.png);
  background-repeat: no-repeat;
  height: 120vh;
  width: 100%;
} */

/* yearly part in pricing */

.yearly .card
{
  border: none;
  border: 1px solid antiquewhite;
  text-align: left;
  box-shadow: 0 0 10px rgb(128,128,128);
}
.yearly .card-header
{
  background-color: white;
}
.popularbtn
{
  font-size: x-small;
  margin-left: 70%;
  margin-top: -22%;
  background-color: #B5876D;
  color: white;
}
.popularbtn:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.yearly i
{
  color: #B5876D;
}
.yearly span
{
  font-size: 15px;
  font-weight: 500;
}
.yearly .list-group li
{
  border: none;
  line-height: 30px;
  word-spacing: 1px;
}
.yearly ul li button
{
  margin-left: 17%;

}

/* monthly part in pricing */

.monthly .card
{
  border: none;
  border: 1px solid antiquewhite;
  box-shadow: 0 0 10px rgb(128,128,128);
}
.monthly .card-header
{
  background-color: white;
}
.monthly span
{
  font-size: 15px;
  font-weight: 500;
}
.monthly .list-group li
{
  border: none;
  line-height: 30px;
}
.monthly ul li button
{
  margin-left: 17%;
}

/* customer says part */

/* icons in customer part */

.picons
{
  color: var(--main);
  font-size: 2.5rem !important;
}

/* review by customer */

.customerreview .card
{
  border: none;
  box-shadow: 0 0 2px var(--main);
}

/* faq in pricing */

.faq
{
  background-image: url('../images/bgimg.png') !important;
  background-repeat: no-repeat;
  width: 90%;
}
.faq .accordion-button::after
{
  color: black !important; 
}
.faq .accordion-button:not(.collapsed)
{
  color: black !important;
  background-color: #F8F3F0!important;
}
.faq .accordion-button .collapsed
{
  color: black !important;
  background-color: #F8F3F0!important;
}
.faq .accordion-button:focus
{
  box-shadow: none !important;
}
.faq .accordion-button
{
  background-color: #F8F3F0;
} 
.faq .accordion-body
{
  background-color: #F8F3F0;
  width: 100%;
}



/* media query for pricing section */

@media screen and (min-width:1200)
{
  /* .yearly .card
  {
    
    width: 80% !important;
    margin: 0% !important;
    padding: 0% !important;
  }
  .yearly ul li button
  {
    
    padding: 0% !important;
  } */
  .customer
  {
    margin: 0% ;
    padding: 0% ;
  }
  .customer row
  {
    margin: 0% ;
  }
  .customer .picons
  {
    margin-top: 0% !important;
    padding-top: 0% !important;
    text-align: center ;
  }
  .customer .picons .pricon
  {
    margin-top: -20% ;
    padding-top: 0%;
  }
  .customer img
  {
    /* margin-top: 10%; */
    margin-bottom: 0% !important;
  }
  .faq
  {
    text-align: center;
    margin-left: 0%;
  }
}





/* css for contact section */

.contact
{
  background-image: url('../images/img.png') !important;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.contact .card
{
  width: 80%;
  margin-left: 10%;
  padding-top: 3%;
}
.contact .card h6
{
  color: #B5876D;
}
.contact form input
{
  width: 90%;
  height: 25px;
}
.contact form input:focus,
.contact form textarea:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.map
{
  /* background-color: #fdeee3; */
  background-image: url('../images/mapbg.png') !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 500px;
}



/* media query for contact section */

@media screen and (max-width:1200px)
{
  .contact .info
  {
     width: 90%;
    padding-left: 10%;
  }
  .contact form
  {
    width: 90% !important;
    padding: 3%;
    margin-top: 5%;
  }
  .contact form input
  {
    width: 90% !important;
    padding: 3%;
    margin-top: 5%;
  }
  .contact form textarea
  {
    width: 90% !important;
    padding: 3%;
    margin-top: 5%;
  }
  .map
  {
    width: 100%;
  }
}





/* login section */

.login h5
{
  display: inline;
  padding-left: 10%;
}
.login form
{
  width: 65%;
}
.logimg
{
  margin-left: 8%;
}
.login input:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.loginsigninbtn
{
  width: 60%;
}



/* media query for login section */

@media screen and (max-width:1200px)
{
  .login
  {
    text-align: center;
  }
  .logimg
  {
    margin-left: 0;
    height: 300px;
    width: 90%;
  }
  .menuscanimg
  {
    margin-left: 0;
  }
  .login form
  {
    width: 90%;
  }
}





/* footer part */

.footer
{
  background-color: #282828;
}
.footer a
{
  color: white;
}

/* css for size of icons in footer */

.footer i
{
  font-size: 22px;
}
.foottext
{
  text-align: center;
}

/* css for icons in footer */

.footicon
{
  color: var(--main); 
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 25px;
  text-align: center;
}
.footend
{
  display: flex;
  justify-content: space-around;
}



/* media query for footer section */

@media screen and (max-width:1200px)
{
  .footermenu
  {
    padding-left: 12%;
    line-height: 180%;
  }
  .foottext
  {
    margin-left: 0;
    padding-left: 12%;
    text-align: left;
  }    
  .footericon
  {
    display: flex;
  }
  .footend
  {
    display: flex;
    justify-content: space-evenly;
  }
  
}





/* register section css */

/* main card css */

.registercard
{
  border-radius: 5%;
  box-shadow: 0 0 10px rgb(128, 118, 118);
  width: 80%;
  margin-left: 10%;   
}

/* card on left side in register section */

.registerleft
{
  border-radius: 5%;
  width: 100%;
  height: 100%;
  border: none;
  box-shadow:0 0 4px var(--main);
  background-image: url('../images/registerbg.png') !important;
  background-repeat: no-repeat;
}

/* logo in card section */

.registerlogo
{
  margin-left: 40%;
  padding-top: 10%;
}

/* person with qr code img */

.registerscan
{
  margin-left: 30%;
  margin-top: 40%;
}

/* form section in main card on right side */

.registerform input
{
  width: 70%;
}
.registerform input:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.registerform button
{
  width: 55%;
}



/* media query for register section */

@media screen and (max-width:280px)
{
  .registerform button
  {
    width: 35%;
  }    
}

@media screen and (max-width:1200px)
{
  .registerleft
  {
    width: 80%;
    margin: 8%;
  }
  .registerlogo
  {
    margin-left: auto;
    margin-right: auto;
    display: block;    
  }
  .registerform
  {
    margin-top: 10%;
  }   
}





/* register now section css */

.connectpart h5
{
  font-weight: 600;
}
.connectpart .card
{
  border: none;
}
.connectpart .card h6
{
  color: var(--main);
}
.connectpart .card span
{
  color: var(--main);
  font-size: 25px;
}
.headoffice
{
  display: flex;
}



/* media query for registernow section */

@media screen and (max-width: 1200px)
{
  .connectpart
  {
    margin-top: 20% !important;
    width: 80%;
    text-align: center !important;
  }
  .connectpart .card span
  {
    margin-left: 0% !important;
  }
  .connectlocation
  {
    margin-top: 0% !important;
    padding-top: 0% !important;
  }
}





/* checkout section css */

.checkout .planmain .plansub ul
{
  list-style: none;
}
.checkout
{
  background-color: #FFF5EA;
}
.checkout .planmain
{
  width: 90%;
  box-shadow: 0 0 2px rgb(128,128,128);
}
.checkout .planmain .plansub
{
  width: 70%;
  box-shadow: 0 0 10px rgb(128, 118, 118);
  margin-left: 15% !important;
}
.checkout .planmain .plansub.siltext
{
  color: #B5876D;
}
.checkout .planmain .plansub .silspan
{
  font-size: 50px;
}
.checkout .planmain .plansub .provide ul li
{
  line-height: 250%;
}
.checkout .userinfo
{
  width: 90%;
}
.checkout .userinfo .editicon
{
  color: var(--main);
  font-size: 25px !important;
}
.checkout .plandetails
{
  width: 90%;
}
.checkout .planprice
{
  width: 90%;
}
.checkout .planprice table
{
  width: 60%;
  margin-left: 20% !important;
}
.checkout .planprice .checkoutbtn
{
  width: 50%;
  margin-left: 20% !important;
  display: flex;
  justify-content: space-around;
}
.checkout .planprice .total
{
  padding-left: 25%;
}



/* media query for checkout section */

.checkout .planmain
{
  width: 80%;
  margin-left: 5% !important;
}
.checkout .planmain .plansub
{
  width: 70%;
}
.checkout .userinfo
{
  width: 80%;
  margin-left: 5% !important;
}
.checkout .plandetails
{
  width: 80%;
  margin-left: 5% !important; 
}
.checkout .plandetails input
{
  width: 75%;
}
.checkout .planprice
{
  width: 80%;
  margin-left: 5% !important; 
  margin-bottom: 10% !important;
}





/* payment section css */

.payment
{
  background-color: #FFF5EA;
}
.payment .paymentcardmain
{
  width: 60%;
  margin-left: 20%;
}
.payment  .paymentcardmain .paymentcheckout
{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 25% !important;
}
.payment .paymentcardmain input:focus
{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; 
}



/* media query for payment section */

@media screen and (max-width:1200px)
{
  .payment .paymentcardmain
  {
    width: 80% !important;
    margin-left: 8% !important;
  }
  .payment .paymentcardmain .paymentcheckout
  {
    width: 70%;
    margin-left: 12% !important;
  }
  .payment .paymentcardmain .paymentinput
  {
    width: 90%;
  }
}





/* paysuccess section css */

.paysuccess .paysuccesstick
{
  color: rgb(3, 168, 3);
  font-size: 15rem;
}
.paysuccess h2
{
  color: rgb(3, 168, 3);
}





