.html, body{
   width: 100% !important;
   height: 100% !important;   
   overflow-x: hidden !important;
   color: #2C1238;
   font-family: 'Poppins', sans-serif;
   display: -webkit-flex;   
   padding: 0px; 
}
.container-fluid{
   padding-left: 0px;
   padding-right: 0px; 
}
.displayflex{
   display: flex;
 /* width: 86vw; */
}
.contantfixwh{
   width: 90vw;
   height: 130vh;
}
@media screen and (max-width: 1280px){
   .contantfixwh{
      width: 100%;
      height: 100%;
   } 
}
.buttonfocuscolor{
   color: #fff !important; 
   background-color: #FF7000;
   outline: none !important;
   outline-width: 0 !important;
   box-shadow: none !important;
}
/* .buttonfocuscolor :hover{
   background-color: #6dff50;
} */
.inputfocus{
   outline: none !important;
   outline-width: 0 !important;
   box-shadow: none !important;
   border-color: lightgray !important;
  
}
.cardshadow{
   border: none !important;
   background-color:#FFF;
   box-shadow: 0 0 10px rgb(184, 181, 181);
   border-radius: 10px;
}
.searchbar .form-select{
   background-image: url("https://img.icons8.com/material-sharp/384/000000/search.png");
   background-size: 20px 20px;
}

/* top nav start */
.topnavpadd{
   background-color:#FFF;
   box-shadow: 0 0 10px rgb(184, 181, 181);
}
.topborder{
   border-left: gray 1px solid;
}
/* top nav end */


/* side nav start */
.sidenavtd{
  text-Decoration: none;
}
.sidebarrowwi{
   width: 20rem;
}
.sidebar {
   background: #fff; 
   padding-right: 0px;
}
.sidebar ul  {
   width: 100%;
   text-decoration: none !important;  
}.sidebar  li {
  border-bottom: solid gray 1px;
  border-radius: 1px;
  width: 100%;
}
.sidebar  :hover :active {
   background: #B5876D !important;
   width: 100%;
   color: white !important;
} 
.sidebar .nav-link {
   color:#2C1238 !important;
   background: #F8F3F0 !important;
   height: 65px;
   display: flex;
   justify-content:left;
   align-items:center;
   text-decoration: none !important;
}
.sidebar .active a{
   background: #B5876D !important;
   color: white !important;
    text-decoration: none;
} 




/* sidebar menu start */
.sidebarmenu .nav-link {
   color:#2C1238 !important;
   background: #F8F3F0 !important;
  text-decoration: none !important;
  width: 100% !important;
  height: 100% !important;
}
.sidebarmenu li{
   border: none ;
   height:35px; 
}
.sidebarmenu li a{
   padding-left: 30px;
   border-left: #fff 1px solid;
}
.sidebarmenu  :hover :active {
   color: black!important;
} 
.sidebarmenu .active a{
   color: black !important;
}
.menuarrow {
   transform: rotate(0);
 }
 .menuarrow :hover{
   transform: rotate(90deg);
 }

 /* sidebar menu end */
/* side nav end */



/* dashboard card start */
/* dashboard card one start */
.cardbuttonfocus{
   outline: none !important;
   outline-width: 0 !important;
   box-shadow: none !important;
  
}
.cardoneshadow .card{
   border: none !important;
   background-color:#FFF;
   box-shadow: 0 0 10px rgb(184, 181, 181);
   border-radius: 15px;
}
.cardoneborder{
   border-left: solid 1px gray;
}
.buttonadd{
   border: none;
   border: dashed 1px  #FF7000;
   background-color: #fff;
   height: 150px;
}
/* dashboard card one end */


/* dashboard card two start */
.cardtwoshadow .card{
   border: none !important;
}
.cardtwoshadow .card1{
   border: none !important;
   background-color:#FFF;
   box-shadow: 0 0 10px rgb(184, 181, 181);
   border-radius: 25px;
  
}
.headingcardtwo{
   background-color: #fff;
   
}
.headingcardtwo .nav-link{
   color: rgb(82, 81, 81);
  }
.headingcardtwo .active{
    color: black !important;
    border-bottom: solid 1px black;
}
.headingcardtwo .main-nav-active {
   color: black !important;
    border-bottom: solid 1px black;
}

.cardtwoscroll {
   overflow: scroll;
   height: 780px;
   flex-direction: column;
   overflow-y: scroll; 
 }
 .cardtwoscroll::-webkit-scrollbar {
     display: none;
 }
  .cardtwoscroll {
   -ms-overflow-style: none;  
   scrollbar-width: none;  
 }
/* dashboard card two end */
/* dashboard card end */


/* SettingNav start */

.SettingNav {
   width: auto;
}
.SettingNav ul  {
   width: 100%;
   padding: 0px ;
   text-decoration: none !important;  
}.SettingNav  li {
  width: 100%;
}
.SettingNav  :hover :active a{
  
   border-left: #B5876D 10px solid;
   width: 100%;
   color: #2C1238 !important;
} 
.SettingNav .nav-link {
   color:#3e3d3e !important;
   background: #ffffff !important;
   border-left: #FEC592 10px solid;
   border-radius: 10px;
   height: 70px;
   display: flex;
   justify-content:left;
   align-items:center;
   text-decoration: none !important;
}
.SettingNav .active a{
  
   border-left: #B5876D 10px solid;
   color: #2C1238 !important;
    text-decoration: none;
} 


/* SettingNav end */


/* Manage Category start */
.form-check-input:checked {
   background-color: #FF5D5D;
}
.form-switch .form-check-input:focus {
 outline: none !important;
 outline-width: 0 !important;
 box-shadow: none !important;
}
/* Manage Category end */


/* Faq start */
.accordion-button::after{
   background-image: none !important; 
}
.accordion-button:not(.collapsed){
   color: #2C1238 !important;
   background-color: #EDE5E0!important;
}
.accordion-button:focus{
  box-shadow: none !important;
}
.accordion-button{
   background-color: #EDE5E0;
}
.accordion-body{
   background-color: #F8F3F0;
}
/* Faq end */


/* Contact Us start */
@media screen and (max-width: 896px){
 .contactpadd{
   margin-top: 20px;
 }
}
 .contactinput:focus{
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none !important;
  border-color: lightgray !important;
}
/* Contact Us end */


/* footer start */
.footerback{
   background-color: #E9E9E9;
}
/* footer end */